<div class="container">
    <div class="row">
        <div class="col">
            <p class="display-2">Nombre: {{nombre}}</p>
            <p class="display-2">Apellido: {{apellido}}</p>
            <p class="display-2">Edad: {{edad}}</p>
            <p class="display-2">Correo: {{correo}}</p>
            <p class="display-2">Teléfono: {{telefono}}</p>
        </div>
    </div>
</div>