<div class="container">
    <div class="row">
        <div class="col">
            <p class="display-1">Hola <b>{{user.nombre}} {{user.apellido}}</b>.</p>
            {{#if isAdmin}}
                <p class="display-5">Menú de comidas.</p>
                <ul>
                    {{#each frutas}}
                    <li>
                        {{this.nombre}} ${{this.precio}}
                    </li>
                    {{/each}}
                </ul>
            {{else}}
                <p>No tienes permisos para ver el listado.</p>
            {{/if}}
        </div>
    </div>
</div>

<script src="js/script.js"></script>    